<div class="container pt-5 bg-light" *ngIf="productos.length">
  <div class="row pt-5">
    <div class="col-xs-12 col-sm-6 col-md-4 d-flex justify-content-around pt-3" *ngFor="let producto of productos">
      <div class="card shadow border-0 mb-5" style="width: 18rem">
        <img [ngSrc]="producto.images[0]" height="200" width="300" class="card-img-top" alt="{{producto.title}}" />
        <div class="card-body">
          <h5 class="card-title text-primary">{{ producto.title }}</h5>
          <p class="card-text text-secondary">{{ producto.description }}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item float-right text-secondary">
            <b class="text-primary">Categoria: </b>{{ producto.category.name }}
          </li>
          <li class="list-group-item text-secondary">
            <b class="text-primary">Publicado:</b> {{ producto.creationAt | date : "shortDate" }}
          </li>
          <li class="list-group-item text-secondary">
            <b class="text-primary">Precio: </b>${{ producto.price }}
          </li>
        </ul>
        <div class="card-footer d-flex justify-content-around bg-primary">
          <a [routerLink]="['/producto', producto.id]" class="text-light text-decoration-none fw-bold">ver <i
              class="fa-solid fa-eye"></i></a>
          <a href="#" class="text-light text-decoration-none fw-bold"> Añadir <i class="fa-solid fa-cart-plus"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!productos.length">
  <p class="text-center fs-2 text-secondary pt-5">Api Deshabilitada</p>
</div>